<style type="text/css">
    table {
        border-collapse: collapse;
    }

    table tr td {
        border: 1px solid #5e5e5e;
        padding: 2px 5px;
    }

    table tr td input.txt {
        width: 200px;
    }
</style>
<div class="pop_box" style="width:100%;">
    <div class="title" style="text-align:center;">新增学生信息</div>
    <div class="pop_holder" style="text-align:center;">
        <form name="studentForm">
            <table border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px;">
                <tr>
                    <td>学号</td>
                    <td><label><input class="txt" type="text" name="sno" required/></label></td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td><label><input class="txt" type="text" name="name" required/></label></td>
                </tr>
                <tr>
                    <td>专业</td>
                    <td><label><input class="txt" type="text" name="profession" required/></label></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><label><input class="txt" type="password" name="password" required/></label></td>
                </tr>
                <tr>
                <tr>
                    <td>年龄</td>
                    <td><label><input class="txt" type="text" name="age" required/></label></td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td><label><input class="txt" type="text" name="telephone" required/></label></td>
                </tr>
                <tr>
                    <td>地址</td>
                    <td><label><input class="txt" type="text" name="address" required/></label></td>
                </tr>
            </table>
            <div align="center">
                <input type="submit" class="certain_btn" value="保存"/>
                &nbsp;&nbsp;
                <input type="button" class="close_btn ui-dialog-close" id="btnClose" value="关闭"/>
            </div>
        </form>
    </div>
</div>