<style type="text/css">
    .forms_box p {
        width: 100%;
        overflow: hidden;
        padding: 6px 0;
    }
</style>
<div style="width:320px; margin:100px auto 0; overflow:hidden;" class="forms_box">
    <form ng-submit="updatePassword(newPassword);">
        <p>
            <label style="width:80px; float:left;">原始密码 </label>
            <input type="password"
                   style="border:1px solid #ccc; padding:1px 5px; height:20px; line-height:20px; width:200px;"
                   required/>
        </p>

        <p>
            <label style="width:80px; float:left;">新密码 </label>
            <input type="password" ng-model="newPassword"
                   style="border:1px solid #ccc; padding:1px 5px; height:20px; line-height:20px; width:200px;"
                   required/>
        </p>

        <p>
            <label style="width:80px; float:left;">确认密码 </label>
            <input type="password"
                   style="border:1px solid #ccc; padding:1px 5px; height:20px; line-height:20px; width:200px;"
                   required/>
        </p>

        <p style="text-align:center;">
            <input type="submit" class="submit_btn" value="提交"/>
            <input type="button" ng-click="back()" class="cancel_btn" value="取消"/>
        </p>
    </form>
</div>